function Main.main 1
call TripleSquareGame.new 0
pop local 0
push local 0
call TripleSquareGame.run 1
pop temp 0
push local 0
call TripleSquareGame.dispose 1
pop temp 0
push constant 0
return
